*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style-type: none;
}

:root{
    --first-main-color: #F44E77;
    --second-main-color: #554DDE;
    --text-color: #6A6D9E; 
    --white-text-color: #FFFFFF ; 
    --btn-color: #16194F;
    --heading-h1: 60px;
    --heading-h2: 50px;
    --heading-h3: 40px;
    --heading-h4: 24px;
    --body-main-text: 20px;
    --medium-text: 17px;
    --caption-text: 15px;
    --small-text: 13px;
} 

body{
    background-color: #F2F6FF;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    width: 100vw;
    height: 800px;
    position: absolute;
    z-index: -999;
}

.header{
    width: 80%;
    padding: 2rem;
    margin-bottom: 2rem;
}

.header-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-list_nav{
    display: flex;
}

.header-list_items{
    font-size: var(--medium-text);
    color: var(--white-text-color);
    margin: 2rem;
}

.header-list_items:hover, .header-list_btn-signup:hover, .main-page_btn-register:hover, .logo:hover, .graph_btn-learn-more:hover{
    cursor: pointer;
}

.btn-15 {
    background: var(--btn-color);
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--btn-color);
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

.header-list_btn-signup{
    background-color: var(--first-main-color);
    color: var(--white-text-color);
    font-size: var(--medium-text);
    border: none;
    border-radius: 1.2rem;
    height: 56px;
    width: 167px;
}

.main-page{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}   

.main-page_text{
    margin-top: 3rem;
    margin-right: 10rem;
    width: 45%;
}

.main-page_main-text{
    font-size: var(--heading-h1);
    color: var(--white-text-color);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.main-page_small-text{
    font-size: var(--body-main-text);
    color: var(--white-text-color);
    margin-bottom: 3.5rem;
    width: 70%;
}

.main-page_btn-register, .graph_btn-learn-more{
    background-color: var(--btn-color);
    color: var(--white-text-color);
    border: none;
    border-radius: 1.2rem;
    height: 56px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page_phone{
    margin-left: 5rem;
    width: 50%;
}

.main-page_img-phone{
    position: absolute;
    z-index: -3;
}

.main-page_phone-first-card-number, .main-page_phone-first-card-name, .main-page_phone-second-card-number, .main-page_phone-second-card-name{
    color: var(--white-text-color);
}

.main-page_phone-first-card, .main-page_phone-second-card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-page_phone-first-card{
    margin-right: 2rem;
    margin-left: 1rem;
}

.card, .card2{
    position: absolute;
    z-index: -1;
}

.main-page_phone-first-card-logo{
    margin-bottom: .5rem;
    width: 17%;
}

.main-page_phone-card-position{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page_phone-second-card-name{
    font-size: var(--small-text);
}

.main-page_phone-second-card-logo{
    margin-bottom: .5rem;
    width: 15%;
}

.main-page_phone-first-card-number, .main-page_phone-second-card-number{
    font-size: var(--small-text);
    margin-bottom: .4rem;
}

.main-page_phone-card{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.elements-with-phone{
    transform: translate(0px, 0px);
    transition: all .8s ease-in-out;
    z-index: -1;
    position: absolute;
    margin-top: -8rem;
    margin-left: -21rem;
}

.main-page_phone-icon-avatar{
    width: 75%;
    margin-bottom: 1rem;
}

.main-page_phone-text{
    font-size: var(--heading-h4);
    color: var(--white-text-color);
    font-weight: bold;
    margin-bottom: .6rem;
    margin-top: 1.3rem;
}

.main-page_phone-cards{
    margin-top: 5rem;
    display: flex;
    align-items: center;
}

.main-page_phone-elements{
    padding: 1.5rem;
    padding-top: 3rem;
}

.main-page_phone-icons{
    display: flex;
    margin-left: .8rem;
}

.service_block, .questions_question, .questions-content{
    box-shadow: 3px 4px 10px rgb(205, 205, 205);
}

.main-page_phone-icon, .main-page_phone-icon1{
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 60px;
    background-color: var(--white-text-color);
    margin: .5rem;
    border-radius: 1.6rem;
}

.main-page_phone-icon:hover, .main-page_phone-icon1:hover, .main-page_phone-overview-items:hover, .main-page_phone-overview-items1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main-page_phone-icon:first-child{
    margin-left: 0;
}

.main-page_phone-overview{
    display: flex;
    margin-left: .8rem;
}

.main-page_phone-overview-items, .main-page_phone-overview-items1{
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    height: 60px;
    width: 60px;
    color: var(--first-main-color);
    background-color: var(--white-text-color);
    font-size: var(--medium-text);
    font-weight: bold;
    border-radius: 1.2rem;
}

.main-page_phone-overview-items1{
    color: var(--second-main-color);
}

.main-page_phone-overview-items:first-child{
    margin-left: 0;
}

.info-cards{
    display: flex;
    justify-content: center;
    margin-bottom: 13rem;
}

.info-cards_text{
    padding-top: 3rem;
    width: 70%;
}

.info-cards_card-logo{
    margin-left: 3rem;
    position: absolute;
}

.info-cards_card{
    width: 90%;
}

.info-cards_main-text, .graph_main-text, .info-language_main-text{
    font-size: var(--heading-h2);
    color: var(--second-main-color);
    font-weight: bold;
    margin-bottom: 3rem;
}

.info-cards_small-text, .graph_small-text, .info-language_small-text{
    font-size: var(--body-main-text);
    color: var(--text-color);
    margin-bottom: 3rem;
}

.graph{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.graph_info{
    margin-right: 4rem;
}

.graph_info-blocks{
    display: flex;
}

.graph_info-block-balance, .graph_info-block-transaction{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    padding: 1.9rem;
    height: 150px;
    background-color: var(--white-text-color);
    border-radius: 2rem;
    margin: 1rem;
}

.graph_info-block-balance{
    margin-left: 3.5rem;
}

.graph_info-block-transaction{
    margin-right: 3.5rem;
}

.graph_text{
    width: 35%;
}

.graph_info{
    display: flex;
    flex-direction: column;
}

.graph_info-text{
    margin-bottom: 1rem;
    font-size: var(--body-main-text);
}

.graph_info-value{
    color: var(--second-main-color);
    font-size: var(--heading-h3);
    font-weight: bold;
}

.info-language{
    display: flex;
    justify-content: center ;
    margin-bottom: 20rem;
}

.info-language_text{
    margin-right: 6rem;
    width: 30%;
}

.info-language_img-profile{
    display: flex;
    align-items: center;
}

.info-language_profile-text{
    font-size: var(--body-main-text);
    color: var(--text-color);
}

.service-advertising, .questions-advertising{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.service-advertising_main-text, .questions-advertising_main-text{
    font-size: var(--heading-h3);
    color: var(--second-main-color);
    font-weight: bold;
    margin-bottom: 2rem;
}

.service-advertising_main-text-red, .questions-advertising_main-text-red{
    color: var(--first-main-color);
}

.service-advertising_small-text, .questions-advertising_small-text{
    font-size: var(--body-main-text);
    color: var(--text-color);
    text-align: center;
}

.questions-advertising_small-text{
    width: 60%;
}

.service{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.service_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: var(--white-text-color);
    margin: 1rem;
    width: 40%;
}

.service_title{
    margin: 2rem;
    font-size: var(--heading-h3);
    font-weight: bold;
}

.service_price{
    font-size: var(--heading-h3);
    margin: 2rem;
    margin-bottom: 4rem;
}

.sirvice_price{
    font-size: var(--heading-h1);
}

.service_text{
    text-align: center;
    font-size: var(--body-main-text);
    color: var(--text-color);
    width: 70%;
    margin-bottom: 3rem;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.second-btn{
    border: 1px solid black;
    color: black;
}

.service_possibilities-list-item, .service_possibilities-list-item-grey{
    margin-bottom: 1rem;
    font-size: var(--medium-text);
}

.fa, .fa-grey{
    margin-right: 1rem;
    color: var(--second-main-color)
}

.service_possibilities-list-item-grey, .fa-grey{
    color: rgb(196, 196, 196);
}

.color-grey{
    color: rgb(196, 196, 196);
}

.service_possibilities-list{
    margin-bottom: 2rem;
}

.service_premium-card{
    width: 90%;
}

.questions{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
}

.questions_question{
    margin: .7rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--white-text-color);
    border-radius: 1rem;
}

.questions-content{
    height: 80px;
    transform: scale(0);
    transition: all .5s;
    line-height: 2rem;
    font-size: var(--body-main-text);
    margin: .7rem;
    padding: 4rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--white-text-color);
    border-radius: 1rem;
    display: none;
}

.questions_question-plus{
    font-size: var(--heading-h3);
    font-weight: 100;
    color: var(--text-color);
    margin-left: 15rem;
    transform: rotate(0deg);
    transition: all .5s;
}

.questions_question-text{
    font-size: var(--heading-h4);
    color: var(--btn-color);
    font-weight: bold;
}

.questions_question-plus:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #DCE2F0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer_links{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.footer_link{
    color: var(--btn-color);
    margin: 2rem;
}

.footer_logo-icon{
    margin: 1rem;
}

.footer_logo-text{
    color: var(--text-color);
    margin: 1rem;
}

@media (min-width :200px) and (max-width:1500px){
    *{
        max-width: 100vw;
    }
}

@media (min-width :200px) and (max-width:567px){
    .header-list, .main-page_phone, .footer{
        display: none;
    }

    .main-page, .info-cards, .graph, .info-language, .service{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-page_main-text, .info-cards_main-text, .graph_main-text, .info-language_main-text, .service-advertising_main-text, .service_title, .service_price, .service_title, .questions-advertising_main-text{
        font-size: var(--heading-h3);
    }

    .main-page_text, .info-cards, .info-cards_card, .graph_indicators, .graph_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-page_text, .main-page_small-text{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .info-cards_card-logo, .questions_question-plus, .graph_info-block-balance, .graph_info-block-transaction, .graph_info{
        padding: 0;
        margin: 0;
    }

    .main-page_img-phone, .elements-with-phone, .main-page_phone, .card, .card2, .info-language_icons, .info-language_img-chat, .info-cards_card-logo, .graph_img-indicator{
        max-width: 80vw;
    }

    .graph_info-blocks{
        max-width: 70vw;
    }

    .graph_info-value{
        font-size: var(--heading-h4);
    }
}